__pycache__/
.vscode/
build/
expected/
rel/*/*.s
src/*/*/*.s  
out/
dump/*
!dump/foresta.rel.sha1
!dump/main.dol.sha1
*.dol
*.rel
*.exe
*.dll
build.ninja
ac-decomp.code-workspace
assets/
tools/cli.ini
tools/cli.py
