__pycache__/
.vscode/
build/
expected/
out/
dump/*
!dump/foresta.rel.sha1
!dump/static.dol.sha1
*.dol
*.rel
*.exe
*.dll
*.arc
*.ctx
ctx.c
build.ninja
ac-decomp.code-workspace
assets/
tools/cli.ini
tools/cli.py
src/data/bin1
src/data/bin2
objdiff.json
